
<div>
    <h2>Chat</h2>
    <form id="chatbox">
        <i id="username"></i>
        <input type="text" id="msg" placeholder="Escriba su mensaje">
        <button>Enviar</button>
    </form>
</div>
<div id="messageLogs">
</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>