<h1>Crear producto</h1>
<div>
    <form action="/products" method="post">
        <div>
             <label for="recipient-name" class="col-form-label">Destino:</label>
            <input type="text" name="destino" class="form-control" id="recipient-name">
            <label for="recipient-name" class="col-form-label">Descripción:</label>
            <input type="text" name="description" class="form-control" id="recipient-name">
            <label for="recipient-name" class="col-form-label">Código:</label>
            <input type="text" name="code" class="form-control" id="recipient-name">
             <label for="recipient-name" class="col-form-label">Precio:</label>
            <input type="number" name="price" class="form-control" id="recipient-name">
             <label for="recipient-name" class="col-form-label">Stock:</label>
            <input type="number" name="stock" class="form-control" id="recipient-name">
             <label for="recipient-name" class="col-form-label">Categorías:</label>
            <input type="text" name="categories" class="form-control" id="recipient-name">
             <label for="recipient-name" class="col-form-label">Imágenes:</label>
            <input type="text" name="thumbnails" class="form-control" id="recipient-name">
        </div>
        <input type="submit" value="Crear" >
    </form>
</div>



